.pageHeader {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7vh;
  background-color: lightgray;
  background-image: url(http://47.116.199.18/static/pc/headerBg.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 0 2.5vh;
}

.leftPic {
  width: 3vh;
  height: 2vh;
}

.centerLogo {
  width: 10vh;
  height: 4vh;
  margin-top: 1vh;
}

.rightWords {
  font-size: 2vh;
  font-weight: 200;
  color: white;
}


