.container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16.2vw 4.2vw 0 4.2vw;
  box-sizing: border-box;
}

.left {
  margin-right: 8vw;
}

.leftTitle {
  font-size: 5vw;
  margin-bottom: 2.5vw;
}

.leftWords {
  width: fit-content;
  margin: 0 auto;
  font-size: 2vw;
}

.rightTitle {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4.5vw;
}

.rightWords {
  font-size: 2vw;
  text-align: left;
  white-space: pre-wrap;
}

.itemPic {
  width: 100%;
  height: auto;
  margin-top: 16vw;
}
