.sidebarContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 17.6vw 7.2vw 0 7.2vw;
}

.closeWrap {
  width: 100%;
  text-align: end;
}

.close {
  width: 6.3vw;
  height: 6.3vw;
}

.searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 11vw;
  box-sizing: border-box;
  border-bottom: 1px solid #333;
  margin-top: 10vw;
  margin-bottom: 19.3vw;
}

.searchContainer > input {
  flex: 1;
  padding-left: 0!important;
  padding-right: 0!important;
  border: none!important;
  outline: none!important;
}

.searchContainer > img {
  width: 5vw;
  height: 5vw;
  margin-right: 5vw;
}

.sideItem {
  position: relative;
  width: 100%;
  height: 14.3vw;
  background-color: #ffffff;
  font-size: 3.4vw;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  line-height: 14.3vw;
}

.sideItem > img {
  position: absolute;  
  right: 2vw;
  top: 50%;
  transform: translate(0, -50%);
  width: 3vw;
  height: 4vw;
}

.link {
  text-decoration:none;
  color:#333;
}